<footer aria-label="Site Footer" class="bg-gray-50">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex justify-center text-teal-600 sm:justify-start">
                <div class="w-6 h-6">{% include logo.svg %}</div>
                <p class="ml-4 text-left text-sm text-gray-500">Copyright &copy; 2022. All rights reserved.
                </p>
            </div>

            <ul class="flex flex-col mb-3 space-y-2 lg:mb-0 sm:space-y-0 sm:space-x-5 sm:flex-row">
                <li>
                    <a href="mailto:enzyme-conf@mit.edu"
                        class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Contact</a>
                </li>
                <li>
                    <a href="https://github.com/EnzymeAD"
                        class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Github</a>
                </li>
                <li>
                    <a href="https://enzyme.mit.edu" class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Website</a>
                </li>
            </ul>
        </div>
    </div>
</footer>