<footer aria-label="Site Footer" class="bg-gray-50">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex justify-center text-teal-600 sm:justify-start">
                <div class="w-6 h-6">{% include logo.svg %}</div>
                <p class="ml-4 text-left text-sm text-gray-500">Copyright &copy; {{ site.time | date: '%y' }}. All rights reserved.
                </p>
            </div>

            <ul class="flex flex-row mb-3 mt-8 sm:mt-0 space-y-0 space-x-5">
                <li>
                    <div
                        class="relative after:absolute after:bg-gray-200 after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 hover:after:origin-bottom-left hover:after:scale-x-100 after:transition-transform after:ease-in-out after:duration-300">
                        <a href="mailto:enzyme-conf@mit.edu"
                            class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Contact</a>
                    </div>
                </li>
                <li>
                    <div
                        class="relative after:absolute after:bg-gray-200 after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 hover:after:origin-bottom-left hover:after:scale-x-100 after:transition-transform after:ease-in-out after:duration-300">

                        <a href="https://github.com/EnzymeAD"
                            class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Github</a>
                    </div>
                </li>
                <li>
                    <div
                        class="relative after:absolute after:bg-gray-200 after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 hover:after:origin-bottom-left hover:after:scale-x-100 after:transition-transform after:ease-in-out after:duration-300">
                        <a href="https://enzyme.mit.edu"
                            class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Website</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
