---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="{{ site.baseurl }}" target="_blank">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
  {% if layout.map %}
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
  {% endif %}
  {% seo jsonld=false %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": "Enzyme Conference",
    "description": "This workshop aims at bringing together the contributors and users of Enzyme in particular, and people interested in automatic differentiation within the LLVM infrastructure in general, for two days of fast-paced high-bandwidth idea exchange and collaboration bootstrapping.",
    "headline": "Enzyme Conf 2023",
    "image": "https://enzyme.mit.edu/conference/img/logo.png",
    "url": "https://enzyme.mit.edu/conference/conference/",
    "startDate": "2023-02-22T12:15",
    "endDate": "2023-02-24T10:00",
    "eventStatus": "https://schema.org/EventScheduled",
    "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
    "location": {		
      "@type": "Place",
      "name": "University of Colorado Boulder",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "",
        "addressLocality": "Boulder",
        "addressRegion": "CO",
        "postalCode": "80309",
        "addressCountry": "US"
      }
    },
    "publisher": {
        "@type": "Organization",
        "logo": {
            "@type": "ImageObject",
            "url": "https://enzyme.mit.edu/conference/conference/img/logo.png"
        }
    }
  }
  </script>
</head>

{% include header.html %}

<body>

<main>
  {{ content }}
</main>

</body>

{% include footer.html %}

</html>
