---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="{{ site.baseurl }}" target="_blank">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
  {% if layout.map %}
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
  {% endif %}
</head>

{% include header.html %}

<body>

<main>
  {{ content }}
</main>

</body>

{% include footer.html %}

</html>
