---
layout: default
map: true
---
<section class="w-full bg-white">
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-24">
        <div class="flex w-full mx-auto text-left">
            <div class="relative inline-flex items-center mx-auto align-middle">
                <div class="text-center">
                    <h1
                        class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl">
                        Enzyme Conference 2023
                    </h1>
                    <p class="max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">
                        February 22-23, 2023 (before PPoPP/CGO/CC/HPCA) <br>
                        University of Colorado Boulder, CO, USA
                    </p>
                    <div class="flex justify-center w-full max-w-2xl gap-2 mx-auto mt-6">
                        <div class="mt-3 rounded-lg sm:mt-0">
                            <button
                                class="items-center block px-5 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 lg:px-10 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Signup
                            </button>
                        </div>
                        <div class="mt-3 rounded-lg sm:mt-0 sm:ml-3">
                            <button
                                class="items-center block px-5 lg:px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Submit Talk
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
            <div class="content w-full mx-auto">
                    {{ content }}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
            <div class="w-full mx-auto">
                <h2
                    class="max-w-5xl text-2xl font-medium leading-none tracking-tighter text-neutral-600 md:text-2xl lg:text-3xl lg:max-w-4xl">
                    Timeline</h2>
                <ol class="border-l border-gray-300 mt-8">
                    <li>
                        <div class="flex flex-start items-center pt-3">
                            <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
                            <p class="text-gray-500 text-sm">01.07.2021</p>
                        </div>
                        <div class="mt-0.5 ml-4 mb-6">
                            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Call for Proposals</h4>
                            <p class="text-gray-500 mb-3">We invite you to submit proposals to give a talk at EnzymeConf 2023.</p>
                        </div>
                    </li>
                    <li>
                        <div class="flex flex-start items-center pt-2">
                            <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
                            <p class="text-gray-500 text-sm">13.09.2021</p>
                        </div>
                        <div class="mt-0.5 ml-4 mb-6">
                            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Proposals Deadline</h4>
                            <p class="text-gray-500 mb-3">Last day to submit Proposals for talks and roundtables.</p>
                        </div>
                    </li>
                    <li>
                        <div class="flex flex-start items-center pt-2">
                            <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
                            <p class="text-gray-500 text-sm">25.11.2021</p>
                        </div>
                        <div class="mt-0.5 ml-4 pb-5">
                            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Notification Period</h4>
                            <p class="text-gray-500 mb-3">We notify all autors about the status of their summissions.</p>
                        </div>
                    </li>
                    <li>
                        <div class="flex flex-start items-center pt-2">
                            <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
                            <p class="text-gray-500 text-sm">25.11.2021</p>
                        </div>
                        <div class="mt-0.5 ml-4 pb-5">
                            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Begin Conference</h4>
                            <p class="text-gray-500 mb-3">The day of the conference.</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
            <div class="w-full mx-auto">
                <h2
                    class="max-w-5xl text-2xl font-medium leading-none tracking-tighter text-neutral-600 md:text-2xl lg:text-3xl lg:max-w-4xl">
                    Organizers</h2>
                <div class="mt-8 flex flex-wrap -m-2">
                    <div class="p-2 lg:w-1/2 md:w-1/2 w-full">
                        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                            <img alt="team"
                                class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                                src="https://wsmoses.com/img/wmoses.jpg">
                            <div class="flex-grow">
                                <h2 class="text-gray-900 title-font font-medium">William S. Moses (general)</h2>
                                <p class="text-gray-500">MIT CSAIL</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 lg:w-1/2 md:w-1/2 w-full">
                        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                            <img alt="team"
                                class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                                src="https://pbs.twimg.com/profile_images/645738324171313152/e5l6YcR6_400x400.jpg">
                            <div class="flex-grow">
                                <h2 class="text-gray-900 title-font font-medium">Oleksandr Zinenko (program)</h2>
                                <p class="text-gray-500">Google Research</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 lg:w-1/2 md:w-1/2 w-full">
                        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                            <img alt="team"
                                class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                                src="https://jedbrown.org/images/jed.jpg">
                            <div class="flex-grow">
                                <h2 class="text-gray-900 title-font font-medium">Jed Brown (local)</h2>
                                <p class="text-gray-500">University of Colorado Boulder</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 lg:w-1/2 md:w-1/2 w-full">
                        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                            <img alt="team"
                                class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                                src="https://www.csail.mit.edu/sites/default/files/styles/headshot/public/images/people/profile/valentin.jpg?h=7541ae76&itok=Z6K-tpqC">
                            <div class="flex-grow">
                                <h2 class="text-gray-900 title-font font-medium">Valentin Churavy (everything else)</h2>
                                <p class="text-gray-500">MIT CSAIL</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
            <div class="w-full mx-auto">
                <h2
                    class="max-w-5xl text-2xl font-medium leading-none tracking-tighter text-neutral-600 md:text-2xl lg:text-3xl lg:max-w-4xl">
                    Sponsors</h2>
                <p class="mt-8">
                    This workshop has received funding from the National Science Foundation.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
            <div class="w-full mx-auto">
                <div id="map" class="overflow-hidden my-4 w-full h-96 text-gray-900 rounded-xl shadow-xl"></div>
            </div>
        </div>
    </div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoidGd5bW5pY2giLCJhIjoiY2xiYmRoNGFiMDB2aTN4czF3bjlxcmQ0ZiJ9.IbZHIe2_3bxlxPvM8VG_0Q';

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [-105.26145734222993, 40.0098165377417],
            zoom: 12
        });

        map.on('load', function () {
            map.resize();
        });

        let venue_marker = new mapboxgl.Marker()
            .setLngLat([-105.26145734222993, 40.0098165377417])
            .addTo(map)

        map.addControl(
            new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            })
        );

        if (!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            map.addControl(new mapboxgl.NavigationControl());
        }

    </script>
</section>